.form {
  border: 1px solid #ddd;
  border-radius: .25rem;
  display: block;
  margin: .75rem auto 0;
  max-width: 500px;
  padding: 1rem;
}

.label,
.input {
  display: block;
}

.label {
  font-size: .75rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.input {
  border: 1px solid #ddd;
  border-radius: .25rem;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: .25rem;
  width: 100%;
}

.button {
  background-color: darkblue;
  border: 1px solid darkblue;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
}

/* Success And Error Messages */

.success,
.error {
  border-radius: .25rem;
  display: block;
  text-align: center;
  margin: .75rem auto 0;
  max-width: 500px;
  padding: 2rem;
}

.success {
  background-color: rgba(0,255,0,.10);
  border: 1px solid green;
}

.error {
  background-color: rgba(255,0,0,.10);
  border: 1px solid green;
}